# Backend
/backend/target

# Frontend
/frontend/node_modules
/frontend/dist

# Docker
.dockerignore

# General
.DS_Store
*.log
.vscode
.idea

# Nota: .env files estão incluídos no repositório pois é privado
# Facilita restauração completa do sistema
